:host {
  //display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //background-color: #673AB7;
  //box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%),
  //0 6px 10px 0 rgb(0 0 0 / 14%),
  //0 1px 18px 0 rgb(0 0 0 / 12%);
  //color: #fff;
  z-index: 2;
}

.remoreLink {color: #fff;}

.more {margin-left: 1rem;}
.logout {
  font-size: 1rem;
  color: #000;
}

.example-spacer {
  flex: 1 1 auto;
}

.toggles {
  display: flex;
}

.theme-icon {
  margin-right: .5rem;
  cursor: pointer;
}
