.login-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43rem;
}

.login-form {
  margin-bottom: 2rem;
}

.registerLink {

}

.cryptoImg {
  position: absolute;
  height: 25rem;
  right: 2rem;
}

.bubblesImg {
  position: absolute;
  height: 20rem;
  left: 2rem;
}
