<div class="login-form__container">
  <img src="assets/loginCircle.png" alt="crypto" class="cryptoImg">
  <img src="assets/loginBubble.png" alt="bubbles" class="bubblesImg">

  <form class="form login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label class="mat-typography">email</mat-label>
      <input type="email" placeholder="Ex. example@example.com" matInput formControlName="email" class="input">
    </mat-form-field>
    <p *ngIf="errors.isEmailFieldEmpty">This field is empty</p>
    <p *ngIf="errors.isEmailFieldEmpty && errors.isEmailPattern">Please enter a valid email address</p>
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <p *ngIf="errors.isPasswordFieldEmpty">This field is empty</p>

    <button mat-raised-button color="primary" type="submit">login</button>
  </form>

  <div>
    <a style="color: #fff;" routerLink="/register">not registered yet? Click here.</a>
  </div>
</div>

