<mat-sidenav-container (backdropClick)="onCloseSidebar()">
  <mat-sidenav class="sidebar" #sidenav>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="section-dashboard">
      <div class="currencies list">
        <ng-container *ngFor="let currency of currencies">
          <div class="list__detail" routerLinkActive="active">
            <a class=list__link [routerLink]="['/dashboard', currency.name]">
              <img src="{{'assets/' + currency.name + '.png'}}" [alt]="currency.name" class="list__img">
              <p class="list__name">{{currency.name}}</p>
              <p class="list__value">{{currency.value}}</p>
            </a>
          </div>
          <mat-divider vertical style="height: 100px;"></mat-divider>
        </ng-container>


      </div>
      <!--     [src]="'assets/images/lamps/' + state === 'r' ? 'r_lamp.png' : 'w_lamp.png'" -->
      <div class="charts" *ngIf="!isLoading else loadingSpinner">
        <div class="charts__gauge">
          <ngx-charts-gauge class="gauge"
                            [view]="gaugeDimensions"
                            [min]="-90"
                            [max]="90"
                            [bigSegments]="4"
                            [angleSpan]="180"
                            [startAngle]="-90"
                            [valueFormatting]="gaugeValueFormatter"
                            [results]="gaugeState"
                            [scheme]="colorScheme">
          </ngx-charts-gauge>

          <div class="gauge__lamps" *ngIf="lampsState">
            <ng-container *ngFor="let state of lampsState">
              <img class="gauge__lamp"
                   [src]="state === 'w' ? '../../assets/images/lamps/w_lamp.png' : '../../assets/images/lamps/r_lamp.png'"
                   [alt]="state === 'w' ? 'white-lamp' : 'red-lamp'">
            </ng-container>

          </div>

        </div>

        <div class="charts__vertical-bar">
<!--          <ngx-charts-bar-vertical-normalized-->
<!--            [legend]="true"-->
<!--            legendPosition="below"-->
<!--            [legendTitle]="'signals'"-->
<!--            [results]="verticalBarState"-->
<!--            [view]="verticalBarDimensions"-->
<!--            [scheme]="colorScheme"-->
<!--            [showXAxisLabel]="true"-->
<!--            [showYAxisLabel]="true"-->
<!--            [yAxisLabel]="yAxisLabel"-->
<!--            [xAxis]="true"-->
<!--            [yAxis]="false">-->
<!--            <ng-template #tooltipTemplate let-model="model">-->
<!--              {{model.name}}-->
<!--            </ng-template>-->
<!--          </ngx-charts-bar-vertical-normalized>-->

        <highcharts-chart
          class="charts__highChart"
          [Highcharts]="Highcharts"
          [options]="verticalBarOptions"
          [(update)]="updateFlag"
          style="width: 100%; height: 400px; display: block;"
          #verticalBar></highcharts-chart>
        </div>
      </div>

      <ng-template #loadingSpinner>
        <div style="display: flex;justify-content: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>

      <div class="table">
        <mat-table [dataSource]="tableSource" class="mat-elevation-z8 my-mat-table">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <div class="list">
        <div class="list__detail">
          <p class="list__header">id</p>
          <p class="list__value">451</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="list__detail">
          <p class="list__header">buy</p>
          <p class="list__value">21241235</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="list__detail">
          <p class="list__header">sell</p>
          <p class="list__value">21241235</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="list__detail">
          <p class="list__header">EST benefit</p>
          <p class="list__value">346334</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="list__detail">
          <p class="list__header">result</p>
          <p class="list__value">100%</p>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>


