<mat-sidenav-container (backdropClick)="onCloseSidebar()">
  <mat-sidenav class="sidebar" #sidenav>
    <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        logout
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="section-dashboard">
      <div class="currencies result">
        <div class="result__detail">
          <img src="assets/BTC.png" alt="bitcoin" class="result__img">
          <p class="result__value">{{bitcoinPrice}}</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="result__detail">
          <p class="result__header">id</p>
          <p class="result__value">451</p>
        </div>
      </div>

      <div class="charts">
        <div class="charts__gauge">
          <ngx-charts-gauge [results]="gaugeData"
                            [scheme]="colorScheme">
          </ngx-charts-gauge>
        </div>

        <div class="charts__vertical-bar">
          <ngx-charts-bar-vertical [results]="verticalBarData"
                                   [scheme]="colorScheme"
                                   [showXAxisLabel]="true"
                                   [showYAxisLabel]="true"
                                   [xAxisLabel]="xAxisLabel"
                                   [yAxisLabel]="yAxisLabel"
                                   [xAxis]="true"
                                   [yAxis]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>

      <div class="table">
        <mat-table [dataSource]="tableSource" class="mat-elevation-z8 my-mat-table">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <div class="result">
        <div class="result__detail">
          <p class="result__header">id</p>
          <p class="result__value">451</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="result__detail">
          <p class="result__header">buy</p>
          <p class="result__value">21241235</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="result__detail">
          <p class="result__header">sell</p>
          <p class="result__value">21241235</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="result__detail">
          <p class="result__header">EST benefit</p>
          <p class="result__value">346334</p>
        </div>
        <mat-divider vertical style="height: 100px;"></mat-divider>
        <div class="result__detail">
          <p class="result__header">result</p>
          <p class="result__value">100%</p>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>


