@import "~@angular/material/theming";

html, body {
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "IRAN YEKAN";
  src: url("http://cdn.font-store.ir/yekan.css");
}

$typography-1: mat-typography-config(
  $font-family: "IRAN YEKAN"
);
//@include angular-material-typography($typography-1);

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45rem;
}

.radio {
  display: block !important;
}

a {
  text-decoration: none;
}

// mixins
@mixin respond($breakpoint) {
  @if($breakpoint == small-phone) { // till 320px
    // 320 / 16 = 20em
    @media (max-width: 20em) {
      @content;
    }
  }

  @if($breakpoint == phone) { // till 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if($breakpoint == tab-port) { // till 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if($breakpoint == tab-land) { // till 1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if($breakpoint == big-desktop) { // +1200px
    @media (min-width: 112.25em) {
      @content;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;

  @include respond(tab-port) {
    width: 50%;
  }
  @include respond(phone) {
    width: 80%;
  }
}

.logo {
  width: 100px;
}
