@import "~@angular/material/theming";
@include mat-core();

$remore-navy-blue: (
  50: #12182B,
  100: #12182B,
  200: #12182B,
  300: #12182B,
  400: #12182B,
  500: #12182B,
  600: #12182B,
  700: #12182B,
  800: #12182B,
  900: #12182B,
  A100: #12182B,
  A200: #12182B,
  A400: #12182B,
  A700: #12182B,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$remore-grey: (
  50: #CDCED9,
  100: #CDCED9,
  200: #CDCED9,
  300: #CDCED9,
  400: #CDCED9,
  500: #CDCED9,
  600: #CDCED9,
  700: #CDCED9,
  800: #CDCED9,
  900: #CDCED9,
  A100: #CDCED9,
  A200: #CDCED9,
  A400: #CDCED9,
  A700: #CDCED9,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$remore-primary: mat-palette($remore-navy-blue, 100, 50, 200);
$remore-accent: mat-palette($remore-grey, 100, 50, 200);

$remore-theme: mat-light-theme($remore-primary, $remore-accent);

@include angular-material-theme($remore-theme);

.remore-dark-theme {
  //@include angular-material-color($remore-theme);
}

//@include mat-core-theme($remore-theme);

html, body {
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45rem;
}

.radio {
  display: block !important;
}

a {
  text-decoration: none;
}

// mixins
@mixin respond($breakpoint) {
  @if($breakpoint == small-phone) { // till 320px
    // 320 / 16 = 20em
    @media (max-width: 20em) {
      @content;
    }
  }

  @if($breakpoint == phone) { // till 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if($breakpoint == tab-port) { // till 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if($breakpoint == tab-land) { // till 1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if($breakpoint == big-desktop) { // +1200px
    @media (min-width: 112.25em) {
      @content;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;

  @include respond(tab-port) {
    width: 50%;
  }
  @include respond(phone) {
    width: 80%;
  }
}

.logo {
  width: 100px;
}

.cryptoImg {
  position: absolute;
  height: 65%;
  right: 2rem;
  @include respond(phone) {
    display: none;
  }
}

.bubblesImg {
  position: absolute;
  height: 50%;
  left: 2rem;
  @include respond(phone) {
    display: none;
  }
}

.mat-typography p {
  margin: 0;
}
